name: Run and upload output

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Run script
        run: |
          python --version
          ls -la
          python main.py

      - name: Upload output artifact
        uses: actions/upload-artifact@v4
        with:
          name: output-artifact
          path: output.txt
